exportPattern("eqwma", "gedestp", "gedlogl", "gets.mean", "gets.vol", "gLag", "gLog.ep", "info.criterion", "jb.test", "leqwma", "ols.fit1", "ols.fit2", "regs.mean.sm", "regs.vol.sm", "skewness.test", "sm")
